* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80%;
            background-color: yellowgreen;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: darkblue;
        }

        .box {
            width: 350px;
            
            padding: 20px;
            background-color: aqua;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
        }

        label {
            font-weight: bold;
        }

    input, select {
        width: 100%;
        margin: 8px 0 15px 0;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .gender-options {
        margin: 2px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn1 {
        background-color: green;
        color: white;
        padding: 8px 16px;
        margin: 5px 5px 0 0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn1 :hover{
        background-color: darkgreen;
    }
    .btn2 {
        background-color: brown;
        color: white;
        padding: 8px 16px;
        margin: 5px 5px 0 0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn2 :hover{
        background-color: lightgray;
    }