.book-card{
     width: 400px;
    height: 450px;
    background-color: aqua;
    color: black;
    border: 5px solid white;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: beige;
    background-color:blue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-style: italic;
    width: 40%;
    border-radius: 8px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
}

.booklist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
} 

